.LayoutSpace {
  position:absolute;
  background-color: lightblue;
}

.LayoutSpace:hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
  -moz-filter: brightness(85%);
  cursor: pointer;
}
