$brightness: 90%;

.LayoutSpace {
  position:absolute;
}

.LayoutSpace-active {
  background-color: lightblue;
}

.LayoutSpace-locked {
    background-color: lightgray;
}

.LayoutSpace:hover {
  filter: brightness($brightness);
  -webkit-filter: brightness($brightness);
  -moz-filter: brightness($brightness);
  cursor: pointer;
}
