$brightness: 90%;

.LayoutSpace {
  z-index: 0;
  position:absolute;
  border: 1px solid #8bc34a;
}

.LayoutSpace-active {
  background-color: #2e7d32;
}

.LayoutSpace-locked {
    background-color: #cfd8dc;
}

.LayoutSpace:hover {
  filter: brightness($brightness);
  -webkit-filter: brightness($brightness);
  -moz-filter: brightness($brightness);
  cursor: pointer;
}

.layout-content {
    position: relative;
}

.Road {
    z-index: 0;
    position: absolute;
    background-color: #424242;
}

.EMPTY {
  background-color: #2e7d32;
}

.EMPTY-LOCKED {
  background-color: #cfd8dc;
}

#game-container {
    background-color: #8bc34a;
}

.BadgeContainer {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 10;
}

.layout-space-img {
    position: absolute;
    top:0;
    left:0;
    z-index: 5;
    height: 100%;
    width: 100%;
    object-fit: contain
}
