* {
  box-sizing: border-box;
}

html, body, #app, .container {
  height: 100%;
  width: 100%;
  margin: 0px;
}

input {
  box-shadow: none !important;
}

#loader {
  height: inherit;
  text-align: center;
}

#main-loader {
  height: 20vh;
  padding-top: 40vh;
}

#background-loader {
    position:absolute;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 20vh;
    padding-top:40vh;
    padding-bottom:60vh;
    width: 100%;
}
