* {
  box-sizing: border-box;
}

html, body, #app, .container {
  height: 100%;
  width: 100%;
  margin: 0px;
}

html, body {
  background: black !important;
  overflow: hidden;
}

#app {
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
}

input {
  box-shadow: none !important;
}

#loader {
  height: inherit;
  text-align: center;
}

#main-loader {
  height: 20vh;
  padding-top: 40vh;
}

#background-loader {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 20vh;
    padding-top:40vh;
    padding-bottom:60vh;
    width: 100%;
}

#toastr p {
  margin-bottom: 0px;
  font-size: 12px;
}

.stacked-horizontally {
  padding: 2px !important;
}

.no-margin-bottom {
  margin-bottom: 2px !important;
}

.no-margin-top {
  margin-top: 0.5rem !important;
}

select {
  background-origin: border-box;
}

.minified-select > select {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#layout-list {
  position:relative;
  height: 100%
}

#navbar {
  display: none !important;
}

.top-bar-title {
  margin-top: 0.25rem;
}

#navbar {
  height: 45px;
  background-color: #263238;
  color: #ffab00;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 1rem;
  overflow: hidden;
}

.menu > li {
  background: #263238;
  border-left: 1px solid #455a64;
}

.menu > .hoverable {
  cursor: pointer;
}

.menu > .hoverable:hover {
  background: #455a64;
}

.menu p {
  height: 45px;
  line-height: 45px !important;
  color: #e6e6e6;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.menu > li > p {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

@media screen and (min-height: 600px) {
  @media screen and (min-width: 640px) {
    #layout-list {
      position:relative;
      height: 92.5%
    }

    #navbar {
      display: block !important;
    }
  }
}

@media screen and (min-height: 600px) {
  @media screen and (min-width: 640px) {
    #layout-list {
      position:relative;
      height: -moz-calc(100% - 45px);
      height: -webkit-calc(100% - 45px);
      height: -o-calc(100% - 45px);
      height: calc(100% - 45px);
    }

    #navbar {
      display: block !important;
    }
  }
}

#bub {
  z-index:1000; 
  position:fixed; 
  width:20%;

  bottom:100px; 
  right:1%;
}

.example-obtuse {
  position:relative;
  padding:15px 30px;
  padding-bottom: 2px;
  margin:0;
  color:#000;
  min-width:40%;
  min-height:20%;

  background:#f3961c;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);

  -webkit-border-top-left-radius:25px 50px;
  -webkit-border-top-right-radius:25px 50px;
  -webkit-border-bottom-right-radius:25px 50px;
  -webkit-border-bottom-left-radius:25px 50px;
  -moz-border-radius:25px / 50px;
  border-radius:25px / 50px;
}

.example-obtuse + p {margin:10px 150px 2em 0; text-align:right; font-style:italic;}

.example-obtuse:before {
  content:"";
  position:absolute;
  bottom:-25px;
  right:80px;
  border-width:0 0 30px 50px;
  border-style:solid;
  border-color:transparent #f3961c;
  display:block;
  width:0;
}

.example-obtuse:after {
  content:"";
  position:absolute;
  bottom:-25px;
  right:110px;
  border-width:0 0 30px 20px;
  border-style:solid;
  border-color:transparent;
  display:block;
  width:0;
}

.newer, .older {
  cursor: pointer;
}