* {
  box-sizing: border-box;
}

html, body, #app, .container {
  height: 100%;
  width: 100%;
  margin: 0px;
}

html, body {
  background: black !important;
  overflow: hidden;
}

#app {
  position: absolute;
  z-index: 0;
  top:0;
  left:0;
}

input {
  box-shadow: none !important;
}

#loader {
  height: inherit;
  text-align: center;
}

#main-loader {
  height: 20vh;
  padding-top: 40vh;
}

#background-loader {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 20vh;
    padding-top:40vh;
    padding-bottom:60vh;
    width: 100%;
}

#toastr p {
  margin-bottom: 0px;
  font-size: 12px;
}

.stacked-horizontally {
  padding: 2px !important;
}

.no-margin-bottom {
  margin-bottom: 2px !important;
}

.no-margin-top {
  margin-top: 0.5rem !important;
}

select {
  background-origin: border-box;
}

.minified-select > select {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#layout-list {
  position:relative;
  height: 100%
}

#navbar {
  display: none !important;
}

.top-bar-title {
  margin-top: 0.25rem;
}

#navbar {
  height: 45px;
  background-color: #263238;
  color: #ffab00;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 1rem;
  overflow: hidden;
}

.menu > li {
  background: #263238;
  border-left: 1px solid #455a64;
}

.menu > .hoverable {
  cursor: pointer;
}

.menu > .hoverable:hover {
  background: #455a64;
}

.menu p {
  height: 45px;
  line-height: 45px !important;
  color: #e6e6e6;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.menu > li > p {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

@media screen and (min-height: 600px) {
  @media screen and (min-width: 640px) {
    #layout-list {
      position:relative;
      height: 92.5%
    }

    #navbar {
      display: block !important;
    }
  }
}

@media screen and (min-height: 600px) {
  @media screen and (min-width: 640px) {
    #layout-list {
      position:relative;
      height: -moz-calc(100% - 45px);
      height: -webkit-calc(100% - 45px);
      height: -o-calc(100% - 45px);
      height: calc(100% - 45px);
    }

    #navbar {
      display: block !important;
    }
  }
}