.menu-container, .menu-element-container {
    position: relative;
}

.menu-element-container {
    height: 85%;
}

#menu-footer {
    position: relative;
    bottom: 0;
}

#scrollable {
    position: relative;
    height:50vh;
    overflow-y: auto;
    bottom: 0;
    padding: 5px;
}

#scrollable::-webkit-scrollbar{
    width:0.5em;
    background-color:#373A47;
    border-radius:10px;
} 

#scrollable::-webkit-scrollbar-thumb{
    background-color:#6F7073;
    border-radius:10px;
}

#scrollable::-webkit-scrollbar-thumb:hover{
    background-color:#6F7073;
    border:1px solid #373A47;
}

#scrollable::-webkit-scrollbar-thumb:active{
    background-color:#6F7073;
    border:1px solid #373A47;
}

.demand {
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);   
}

.minified p {
    margin-bottom: 0px;
    font-size: 16px;
}

.menu-messages {
    font-size: 14px;
}

.menu-detail {
    border: 1px solid #373a47;
    background-color: #2263d6;
    padding: 5px;
    text-align: center;
    color: white;
}